---
# Only the main Sass file needs front matter (the dashes are enough)
---
.clear {
  clear: both;
}


body {
  font-family: "Tahoma" , sans-serif;
  background-color: #fefefe;
}

body > header {
  padding: 20px 0;
}

.wrapper {
padding: 0 40px;
}

.site-title {
  float:left;
  margin: 0;
}

.site-title a {
  text-decoration: none;
  color: darkgreen;
}

.site-nav a {
  text-decoration: none;
  color: #444;
}


.site-nav {
  float:right;
}

.posts {
  list-style: none;
  padding: 0;

}
.posts li {
  border-bottom: 1px solid purple;
}
.posts li:last-child {
  border-bottom: 0;

}
.posts li a {
  text-decoration: none;
  color: #666;
}
.date {
  font-size: 60%;
  color: #888;
  float: right;
}

.site-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-nav ul li {
  display: inline-block;
}

.site-nav ul li a {
  display: block;
  padding: 4px 8px;
  text-decoration: none;
  color: #444;
  font-weight: 700;
}

.site-footer {
  color: #888;
  text-align: center;
  padding-top: 20px;

}
