<header>

  <div class="wrapper">

      <h1 class="site-title">
        <a href = "{{ site.baseurl }}/">{{ site.title }}</a>
      </h1>


    <nav class="site-nav">
      <ul>
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <li>
            <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <div class="clear"></div>

  </div>

</header>
